exportPattern("^[[:alpha:]]+")
S3method(ypreg, default)
S3method(print, ypreg)
S3method(plot, ypreg)
importFrom("graphics", "abline", "axis", "legend", "lines")
importFrom("stats", "rnorm", "pnorm", "qnorm", "runif", "sd")
